<div >
    <div fxLayout="row" fxLayoutAlign="center" class="menuComponent">
      <button [matMenuTriggerFor]="menu1" mat-button > <mat-icon>+</mat-icon>Equipamentos</button>
      <mat-menu #menu1="matMenu">
        <button mat-menu-item [routerLink]="['/equipamentos']">Listagem de Equipamentos</button>
        <button mat-menu-item [routerLink]="['/cadastrarEquipamentos']">Cadastrar Equipamentos</button>
      </mat-menu>
      <button [matMenuTriggerFor]="menu2" mat-button > <mat-icon>+</mat-icon>Manutenções</button>
      <mat-menu #menu2="matMenu">
        <button mat-menu-item [routerLink]="['/manutencoes']">Listagem de Manutenções</button>
        <button mat-menu-item [routerLink]="['/cadastrarManutencoes']">Cadastrar Manutenções</button>
      </mat-menu>
      <button [matMenuTriggerFor]="menu3" mat-button > <mat-icon>+</mat-icon>Funcionários</button>
      <mat-menu #menu3="matMenu">
        <button mat-menu-item [routerLink]="['/manutencaos']">Listagem de Funcionários</button>
        <button mat-menu-item [routerLink]="['/cadastrarmanutencaos']">Cadastrar Funcionários</button>
      </mat-menu>
      <button [matMenuTriggerFor]="menu4" mat-button > <mat-icon>+</mat-icon>Clientes</button>
      <mat-menu #menu4="matMenu">
        <button mat-menu-item [routerLink]="['/clientes']">Listagem de Clientes</button>
        <button mat-menu-item [routerLink]="['/cadastrarClientes']">Cadastrar Clientes</button>
      </mat-menu>
      <button [matMenuTriggerFor]="menu5" mat-button > <mat-icon>+</mat-icon>Usuários</button>
      <mat-menu #menu5="matMenu">
        <button mat-menu-item [routerLink]="['/usuarios']">Listagem de Usuarios</button>
        <button mat-menu-item [routerLink]="['/cadastrarUsuarios']">Cadastrar Usuário</button>
      </mat-menu>
    </div>

    <div id="main">
      <mat-card class="example-card">
        <!--    fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center"-->
        <h2 class="texto_label titulo-login">Inserir Manutenção</h2>
  
        <!--Inicio do Form>-->
        <mat-card-content >
          <form class="example-form">
            <mat-form-field class="example-full-width" id="name" appearance="fill">
              <mat-label  class="texto_label">Data de Inicio</mat-label>
              <input autocomplete="on" type="date" name="dataInicio" [(ngModel)]="manutencao.dataInicio" matInput placeholder="Digite a data de início">
             
            </mat-form-field>
            
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label  class="texto_label">Data de Termino</mat-label>
              <input autocomplete="on" name="dataTermino" type="date"  [(ngModel)]="manutencao.dataTermino" matInput  placeholder="Digite a data de término"value="">
            </mat-form-field>
  
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label  class="texto_label">ID do Cliente</mat-label>
  
              <input [ngModel]="manutencao.cliente_id" 
              (ngModelChange)="manutencao.cliente_id=$event" autocomplete="on" name="cliente_id" type="number"  matInput  placeholder="Digite o número do id do cliente"value="" >
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label  class="texto_label">ID do Funcionário</mat-label>
  
              <input [ngModel]="manutencao.funcionario_id" 
              (ngModelChange)="manutencao.funcionario_id=$event" autocomplete="on" name="funcionario_id" type="number"  matInput  placeholder="Digite o número do id do funcionário"value="" >
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label  class="texto_label">Total</mat-label>
              <input autocomplete="on" name="total" type="number"  [(ngModel)]="manutencao.total" matInput  placeholder="Digite o valor total da manutenção"value="">
            </mat-form-field>
           
          </form>
        </mat-card-content>
  
        <mat-card-actions>
          <button mat-raised-button id="but" (click)="inserirManutencao()">
            <mat-icon *ngIf="operacaoCadastro">person_add</mat-icon>
            <mat-icon *ngIf="!operacaoCadastro">edit</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>